---
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>¡Gracias por tu mensaje!</title>
  </head>
  <body>
    <main class="pantalla">
      <h1>¡Gracias por tu mensaje!</h1>
      <p>Nos pondremos en contacto contigo a la brevedad.</p>
      <a href="/" class="submit-button">Volver a la página principal</a>
    </main>
  </body>
</html>
