---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Nuestro Menú">
  <section class="menu-grid">
    <div class="grid-item">
      <img src="/expresso.avif" alt="Espresso" />
      <p>Espresso</p>
    </div>
    <div class="grid-item">
      <img src="/latte.avif" alt="Latte" />
      <p>Latte</p>
    </div>
    <div class="grid-item">
      <img src="/mocca.avif" alt="Mocha" />
      <p>Mocha</p>
    </div>
    <div class="grid-item">
      <img src="/coldbrew.avif" alt="Cold Brew" />
      <p>Cold Brew</p>
    </div>
  </section>
</Layout>
